{% extends "layoutru.html" %}

{% block title %}Обо мне{% endblock %}

{% block nav %}
<ul id="navigation">
    <li><a href="/ru/">Главная</a></li>
    <li class="active"><a href="/about">Обо мне</a></li>
    <li><a href="/ru/port">Порфолио</a></li>
    <li><a href="/ru/contact">Связаться</a></li>
    <li><a href="/">English</a></li>
</ul>
{% endblock %}

{% block main %}
<!--? Hero Area Start-->
<div class="hero-area2 d-flex align-items-center">
    <div class="container">
        <div class="row ">
            <div class="col-xl-12">
                <!-- Hero Caption -->
                <div class="hero-cap pt-100">
                    <h2>Обо мне/Опыт/Образование</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Hero Area End-->
<!--? About 1 Start-->
<section class="about-area section-padding40">
<div class="container">
    <div class="row align-items-center">
        <div class="col-xl-6 col-lg-6 col-md-10">
            <div class="about-caption mb-50">
                <!-- Section Tittle -->
                <div class="section-tittle mb-35">
                    <h2>Обо мне</h2>
                </div>
                <p>Бывший студент Бакалавра по Управлению Бизнесом, учился по программе управления бизнесом, до того как понял что это не мой путь.</p>
                <p>На данный момент закончил несколько курсов по разработке, один из которых CS50, после окончания начал совершенствовать свои навыки.</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="about-img">
                <img src="../static/img/about.png" alt="">
            </div>
        </div>
    </div>
    <div class="row pt-40">
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="experience">
                <span>5+</span>
                <p>технологий изучено</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="experience">
                <span>5+</span>
                <p>проектов сделано |<br> больше в портфолио</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="experience">
                <span>Несколько</span>
                <p>сертификаций</p>
            </div>
        </div>
    </div>
</div>
</section>
<!-- QUOTE INFO -->
<div class="container box_1170">
    <div class="section-top-border">
    <h3 class="mb-30">Инфо о сайте</h3>
        <div class="row">
            <div class="col-lg-12">
                <blockquote class="generic-blockquote">
                    "При разработке использовался Python(отправка ваших сообщений через почту, запросы POST и GET, а также данные формы в телеграм канал @yumplay), Flask(web, мультиязычность), SQL(вместе с отправкой ваши сообщения заносятся в бд, посмотреть /hello), HTML, JS(main page) и CSS. Я всё еще совершенствую свои навыки, поэтому буду рад любой критике и предложениям!"
                </blockquote>
            </div>
        </div>
    </div>
</div>
<!-- QUOTE INFO -->
<!-- About  End-->
<div class="may-about section-padding40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-tittle2 mb-30">
                    <h2>Опыт</h2>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="single-about">
                    <div class="tittle-experience">
                        <h3>Помощник управляющего</h3>
                        <p>Июнь 20 - Декабрь 21</p>
                    </div>
                    <div class="experience-link">
                        <a href="#">Altromark LTD, Узб <i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="single-about">
                    <div class="tittle-experience">
                        <h3>Помощник Коммерческого Управляющего</h3>
                        <p>Январь 20 - Май 20</p>
                    </div>
                    <div class="experience-link">
                        <a href="#">Carrefour, Узб <i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="single-about">
                    <div class="tittle-experience">
                        <h3>Трейдер (фондовая биржа)</h3>
                        <p>Январь 19 - Июль 19</p>
                    </div>
                    <div class="experience-link">
                        <a href="#">SBAM Trade, Узб <i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="single-about">
                    <div class="tittle-experience">
                        <h3>Системный Администратор</h3>
                        <p>Январь 13 - Январь 19</p>
                    </div>
                    <div class="experience-link">
                        <a href="#">Altromark LTD, Узб <i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="section-tittle2 mb-30 pt-50">
                    <h2>Образование</h2>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="single-about">
                    <div class="tittle-experience">
                        <h3>Oracle Database SQL Certified Associate</h3>
                        <p>Июль 22 - Сентябрь 22</p>
                    </div>
                    <div class="experience-link">
                        <a href="#">Oracle, Онлайн <i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="single-about">
                    <div class="tittle-experience">
                        <h3>CS50's Introduction to Computer Science</h3>
                        <p>Март 22 - Июль 22</p>
                    </div>
                    <div class="experience-link">
                        <a href="#">HarvardX, Онлайн <i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="single-about">
                    <div class="tittle-experience">
                        <h3>Разработчик Python</h3>
                        <p>Январь 22 - Март 22</p>
                    </div>
                    <div class="experience-link">
                        <a href="#">Udemy, Онлайн <i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="single-about">
                    <div class="tittle-experience">
                        <h3>Бакалавр по Управлению Бизнесом</h3>
                        <p>Сентябрь 19 - Декабрь 21</p>
                    </div>
                    <div class="experience-link">
                        <a href="#">Университет Webster, Узб <i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="single-about">
                    <div class="tittle-experience">
                        <h3>Foundation (English and BA programme)</h3>
                        <p>Май 16 - Ноябрь 17</p>
                    </div>
                    <div class="experience-link">
                        <a href="#">Университет Wittenborg, NL <i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- May-about End -->
<!--? My Expertise Start -->
<div class="our-services pt-top section-bg1">
    <div class="container">
        <div class="rwo">
            <div class="col-xl-12">
                <div class="section-tittle mb-75 text-center">
                    <h2>Сферы</h2>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-contnet-center">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single-services mb-30">
                    <div class="services-cap">
                        <h5>Backend<br> разработка</h5>
                        <h4>Занимался созданием некоторых проектов с использованием Flask/Python.</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single-services mb-30">
                    <div class="services-cap">
                        <h5>Telegram<br> Боты</h5>
                        <h4>Также занимался разработкой телеграм ботов.</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single-services mb-30">
                    <div class="services-cap">
                        <h5>Внедрение<br> Баз Данных</h5>
                        <h4>Имеется опыт по созданию,поддержке и обращениям к БД.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}