{% extends "layoutru.html" %}

{% block title %}GGwM{% endblock %}

{% block nav %}
<ul id="navigation">
    <li class="active"><a href="/ru">Главная</a></li>
    <li><a href="/ru/about">Обо мне</a></li>
    <li><a href="/ru/port">Портфолио</a></li>
    <li><a href="/ru/contact">Связаться</a></li>
    <li><a href="/">English</a></li>
</ul>
{% endblock %}

{% block main %}
<!--FULL STACK area-->
<div class="slider-area">
    <div class="single-slider slider-height d-flex align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-12 col-lg-10 col-md-10 col-sm-10">
                    <div class="hero__caption">
                        <h1>Михаил.</h1>
                        <p>Junior Full Stack</p>
                        <p class="cd-headline letters scale">Знаком с:
                            <a href="#" class="cd-words-wrapper">
                                <b class="is-visible">Python</b>
                                <b>HTML/CSS</b>
                                <b>SQL</b>
                                <b>C</b>
                                <b>Flask</b>
                                <b>JS</b>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--FULL STACK area END-->
<!--? About 1 Start-->
<section class="about-area section-padding40">
<div class="container">
    <div class="row align-items-center">
        <div class="col-xl-6 col-lg-6 col-md-10">
            <div class="about-caption mb-50">
                <!-- Section Tittle -->
                <div class="section-tittle mb-35">
                    <h2>Обо мне</h2>
                </div>
                <p>Бывший студент Бакалавра по Управлению Бизнесом, учился по программе управления бизнесом, до того как понял что это не мой путь.</p>

                <p>На данный момент закончил несколько курсов по разработке, один из которых CS50, после окончания начал совершенствовать свои навыки.</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="about-img">
                <img src="../static/img/about.png" alt="">
            </div>
        </div>
    </div>
    <div class="row pt-40">
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="experience">
                <span>5+</span>
                <p>технологий изучено</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="experience">
                <span>5+</span>
                <p>проектов сделано |<br> больше в портфолио</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="experience">
                <span>Несколько</span>
                <p>сертификаций</p>
            </div>
        </div>
    </div>
</div>
</section>
<!-- About  End-->
<!--? May-about Start -->
<div class="may-about section-padding40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-tittle2 mb-30 pt-50">
                    <h2>Образование</h2>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="single-about">
                    <div class="tittle-experience">
                        <h3>CS50's Introduction to Computer Science</h3>
                        <p>Март 22 - Июль 22</p>
                    </div>
                    <div class="experience-link">
                        <a href="#">HarvardX, Онлайн <i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="single-about">
                    <div class="tittle-experience">
                        <h3>Разработчик Python</h3>
                        <p>Январь 22 - Март 22</p>
                    </div>
                    <div class="experience-link">
                        <a href="#">Udemy, Онлайн <i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="single-about">
                    <div class="tittle-experience">
                        <h3>Бакалавр по Управлению Бизнесом</h3>
                        <p>Сентябрь 19 - Декабрь 21</p>
                    </div>
                    <div class="experience-link">
                        <a href="#">Университет Webster, Узб <i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="single-about">
                    <div class="tittle-experience">
                        <a href="/ru/about"><h3>Больше...</h3></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- May-about End -->
<!--? My Expertise Start -->
<div class="our-services pt-top section-bg1">
    <div class="container">
        <div class="rwo">
            <div class="col-xl-12">
                <div class="section-tittle mb-75 text-center">
                    <h2>Сферы</h2>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-contnet-center">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single-services mb-30">
                    <div class="services-cap">
                        <h5>Backend<br> разработка</h5>
                        <h4>Занимался созданием некоторых проектов с использованием Flask/Python.</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single-services mb-30">
                    <div class="services-cap">
                        <h5>Telegram<br> Боты</h5>
                        <h4>Также занимался разработкой телеграм ботов.</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single-services mb-30">
                    <div class="services-cap">
                        <h5>Внедрение<br> Баз Данных</h5>
                        <h4>Имеется опыт по созданию,поддержке и обращениям к БД.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- My Expertise End -->
<!--? Gallery Area Start -->
<div class="gallery-area section-padding40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-tittle mb-60">
                    <h2>Список работ</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="offset-xl-1 col-xl-5 col-lg-6 col-md-6 col-sm-6">
                <div class="box snake mb-30">
                    <div class="gallery-img small-img " style="background-image: url(../static/img/1.png);"></div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <a href="../static/img/1.png" target="_blank"><i class="ti-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 ol-lg-6 col-lg-6 col-md-6 col-sm-6">
                <div class="box snake mb-30">
                    <div class="gallery-img small-img " style="background-image: url(../static/img/2.png);"></div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <a href="../static/img/2.png" target="_blank"><i class="ti-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offset-xl-1 col-xl-5 col-lg-6 col-md-6 col-sm-6">
                <div class="box snake mb-30">
                    <div class="gallery-img small-img " style="background-image: url(../static/img/3.png);"></div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <a href="../static/img/3.png" target="_blank"><i class="ti-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6 col-md-6 col-sm-6">
                <div class="box snake mb-30">
                    <div class="gallery-img small-img " style="background-image: url(../static/img/4.png);"></div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <a href="../static/img/4.png" target="_blank"><i class="ti-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Gallery Area End -->
{% endblock %}